.nav-link {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

#headerSearch {
    margin-left: 200px;
}

.contactItemText {
    vertical-align: middle;
}

.contactItem {
    padding-left: 0;
}