.nav-link {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    height: 100%;
    padding-top: 11px;
}

.contact-item {
    padding-left: 0;
}

.bi-eye {
    margin-right: 10px;
}

.contact-item-text {
    vertical-align: middle;
}