<ul class="navbar-nav">
	<!-- <li id="contacts" class="nav-item dropdown">
		<a class="nav-link active dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Contacts</a>
		<ul class="dropdown-menu">
			<li>
				<a class="dropdown-item d-flex justify-content-start align-items-center contact-item" routerLink="/createContact" ariaCurrentWhenActive="page" aria-current="page">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus ms-1 me-2" viewBox="0 0 16 16">
						<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
					</svg>
					<span class="contact-item-text">Create Contact</span>
				</a>
			</li>
			<li>
				<a class="dropdown-item d-flex justify-content-start align-items-center contact-item" routerLink="/contacts" ariaCurrentWhenActive="page" aria-current="page">
					<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-eye ms-2" viewBox="0 0 16 16">
						<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
						<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
					</svg>
					<span class="contact-item-text">View Contacts</span>
				</a>
			</li>
		</ul>
	</li> -->
	<li id="contacts" class="nav-item">
		<a class="nav-link active" routerLink="/contacts" aria-current="page">Contacts</a>
	</li>
	<li id="createContact" class="nav-item ms-5">
		<a class="nav-link active" routerLink="/createContact" aria-current="page">Create Contact</a>
	</li>
	<li id="schedule" class="nav-item ms-5">
		<a class="nav-link active" routerLink="/schedule" aria-current="page">Schedule</a>
	</li>
</ul>