<form #registrationForm="ngForm" (ngSubmit)="onRegistrationSubmit(registrationForm)" class="container-fluid p-3 d-flex flex-column">
  <h2 class="text-center mb-5">Add New Contact</h2>
  <div ngModelGroup="fullName" class="d-flex justify-content-evenly">
    <div class="form-floating mb-4 w-25">
      <input type="text" name="firstname" [(ngModel)]="firstName" #firstNameRef="ngModel" class="form-control" id="firstname" placeholder="First Name" required pattern="[A-Za-z]+">
      <label for="firstname">First Name</label>
      <small *ngIf="firstNameRef.invalid && firstNameRef.dirty" class="text-danger">Invalid First Name</small>
    </div>
    <div class="form-floating mb-4 w-25">
      <input type="text" name="lastname" [(ngModel)]="lastName" #lastNameRef="ngModel" class="form-control" id="lastname" placeholder="Last Name" required pattern="[A-Za-z]+">
      <label for="lastname">Last Name</label>
      <small *ngIf="lastNameRef.invalid && lastNameRef.dirty" class="text-danger">Invalid Last Name</small>
    </div>
  </div>
  <div ngModelGroup="EmailAndPhone" class="d-flex justify-content-evenly">
    <div class="form-floating mb-4 w-25">
      <input type="email" name="email" [(ngModel)]="email" #emailRef="ngModel" class="form-control" id="email" placeholder="Email" required pattern="\S+@\S+\.\S+">
      <label for="email">Email</label>
      <small *ngIf="emailRef.invalid && emailRef.dirty" class="text-danger">Invalid Email</small>
      <small *ngIf="repeatedEmail" class="text-danger">Email Already Exists</small>
    </div>
    <div class="form-floating mb-4 w-25">
      <input type="tel" name="phone" [(ngModel)]="phone" #phoneRef="ngModel" class="form-control" id="phone" placeholder="Phone" required pattern="[0-9]+" minlength="9">
      <label for="phone">Phone Number</label>
      <small *ngIf="phoneRef.invalid && phoneRef.dirty" class="text-danger">Invalid Phone Number</small>
      <small *ngIf="repeatedPhone" class="text-danger">Phone Already Exists</small>
    </div>
  </div>
  <div ngModelGroup="StatusAndDate" class="d-flex justify-content-evenly">
    <div class="form-floating mb-4 w-25">
      <select class="form-select" id="statusSelect" name="status" [(ngModel)]="status" #statusRef="ngModel" required>
        <option value="Newcomer">Newcomer</option>
        <option value="Lead">Lead</option>
      </select>
      <label for="statusSelect">Status</label>
      <small *ngIf="!isStatus && registrationForm.submitted" class="text-danger">Please Choose Status</small>
    </div>
    <div class="form-floating mb-4 w-25">
      <input type="date" name="date" [(ngModel)]="date" #dateRef="ngModel" class="form-control" id="date" placeholder="Date" required>
      <label for="date">Date</label>
      <small *ngIf="!isDate && registrationForm.submitted" class="text-danger">Please Choose Date</small>
    </div>
  </div>
  <button type="submit" class="btn btn-primary w-25 align-self-center mt-4">Register</button>
</form>