#view-area {
    margin: 20px;
}

.nav-view {
    height: 54px;
}

.checkbox {
    width: min-content;
}

.check-drop {
    cursor: pointer;
}

#contacts-title {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    font-size: 40px;
    margin-bottom: 0;
    margin-left: 20px;
}

.pagination {
    width: min-content;
    margin-top: 15px;
}

.step {
    cursor: pointer;
}

.page-number {
    width: max-content;
}

th, td {
    vertical-align: middle;
}

#updateModalLabel {
    margin-left: 310px;
}