.forms {
  margin-bottom: 80px;
}

.account-details-form {
  width: 60%;
}

.account-details-header {
  width: 80%;
  height: 36px;
}

.account-header {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
}

.details-group {
  width: 80%;
}

.password-group {
  position: relative;
}

.btn-link {
  position: absolute;
  right: 0;
  bottom: 10%;
}

small {
  margin-top: 3px;
}

.psw-update-form {
  width: 40%;
}

.psw-update-header {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;  
}