<header><app-header></app-header></header>
<div class="d=flex">
    <form class="m-3 mt-4 p-3 w-25 d-inline-flex flex-column border border-3 rounded">
        <h2 class="text-center mb-4">Registration</h2>
        <div class="form-floating mb-4">
            <input type="text" class="form-control" id="firstname" placeholder="First Name">
            <label for="firstname">First Name</label>
        </div>
        <div class="form-floating mb-4">
            <input type="text" class="form-control" id="familyname" placeholder="Family Name">
            <label for="familyname">Family Name</label>
        </div>
        <div class="form-floating mb-4">
            <input type="email" class="form-control" id="email" placeholder="Email">
            <label for="email">Email</label>
        </div>
        <button type="submit" class="btn btn-primary w-50 align-self-center">Submit</button>
    </form>
</div>