.calendar-card {
  width: 300px;
  height: 410px;
}

.table-container {
  height: 410px;
  overflow-y: scroll;
  border-radius: 5px;
}

table {
  width: 64vw;
}

.time-header {
  padding-right: 25px;
}

.taskUpdateModal-header {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 170px;
}

.taskUpdateModal-title {
  padding-top: 15px;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  font-size: 25px;
}

.task-btn-close {
  font-size: 18px;
}