<div class="d-flex ms-5">
  <mat-card class="calendar-card me-5">
    <mat-calendar [(selected)]="selectedDate"></mat-calendar>
  </mat-card>
  <section class="table-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="displayedTasks">
      <ng-container matColumnDef="task">
        <th mat-header-cell *matHeaderCellDef> Task </th>
        <td mat-cell *matCellDef="let element"> {{element.task}} </td>
      </ng-container>
      <ng-container matColumnDef="contactId">
        <th mat-header-cell *matHeaderCellDef> Contact ID </th>
        <td mat-cell *matCellDef="let element"> {{element.contactId}} </td>
      </ng-container>
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef class="time-header"> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>
      <ng-container matColumnDef="done">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <button type="button" class="btn btn-success" (click)="taskStatus(element)" [class.disabled]="element.done">
            <span *ngIf="!element.done">Done</span>
            <svg *ngIf="element.done" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
</div>